{% extends '::base.html.twig' %}

{% block body -%}
<h1>To Do list</h1>

<div>
    <ul>
    {% for item in todolist %}
        <li>{{ item.title }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
